* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  width: 100vw
}

.header {
  background: url('http://chantclaire.org/wp-content/uploads/2016/02/dc534786327218551b8580f82f79dee2.jpeg') center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.top-band {
  background: #fff;
  height: 100px;
  position: fixed;
  width: 100%;
}

.neurotic-logo {
  background: url('neurotic-logo.png') center no-repeat;
  background-size: cover;
  height: 242px;
  margin: 0 auto;
  position: relative;
  top: -60px;
  width: 300px;
}

.square-container {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  width: 90%;
}

.square {
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin: 20px;
  width: 200px;
}

.square:hover {
  background: #ddd;
}
